@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Telivigala', cursive;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: #f9f9f9;
}
.container{
    width: 400px;
    height: 400px;
    text-align: center;
}
.container h1{
    margin-top: 60px;
    color: steelblue;
    font-size: 4rem;
}
.container p{
    margin-top: 30px;
    font-size: 5rem;   
    color: #00000089;
}
.container .buttons{
    margin-top: 30px;
}
.buttons button{
    width: 100px;
    height: 35px;
    font-size: 22px;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #00000089;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
